.carousel__container {
  width: 100%;
  height: 60vh;
  position: relative;
  min-height: 400px;
}

@media (max-width: 768px) {
  .carousel__container {
    height: 75vh;
    min-height: 300px;
  }
}
.carousel__slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.carousel__item {
  position: absolute;
  inset: 0;
  overflow: hidden;
  transition: transform var(--transition-normal) ease-in-out;
}
.carousel__nav {
  position: absolute;
  z-index: 10;
  box-shadow: var(--shadow-base);
}
.carousel__nav.btn {
  background: var(--background-color-secondary);
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5em;
  border-radius: 100%;
}
.carousel__nav.prev {
  left: 1rem;
}
.carousel__nav.next {
  right: 1rem;
}
.carousel__nav.dot {
  width: 0.5rem;
  height: 0.5rem;
  bottom: 1rem;
  left: 50%;
  border-radius: 100%;
  background: var(--text-color);
  transform: translateX(-50%);
} 